Hotel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <!-- Root element -->
  <xs:element name="Hotels">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Hotel" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <!-- Name -->
              <xs:element name="Name" type="xs:string"/>

              <!-- Multiple Phone numbers allowed -->
              <xs:element name="Phone" type="xs:string" maxOccurs="unbounded"/>

              <!-- Address complex element -->
              <xs:element name="Address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Number" type="xs:string"/>
                    <xs:element name="Street" type="xs:string"/>
                    <xs:element name="City" type="xs:string"/>
                    <xs:element name="State" type="xs:string"/>
                    <xs:element name="Zip" type="xs:string"/>
                    <!-- NearestAirport is converted to an attribute (required) -->
                  </xs:sequence>
                  <xs:attribute name="NearestAirport" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>

              <!-- Rating is now an attribute on Hotel (optional) -->

            </xs:sequence>

            <!-- Rating as an attribute on Hotel -->
            <xs:attribute name="Rating" type="xs:decimal" use="optional"/>

          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
